---
import type { CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
---

<a
    href={`/${project.id}`}
    class="project"
    style={`--image: url('${project.data.images[0].src}');`}
    data-name={project.data.name}
    data-year={project.data.year}
    data-location={project.data.location}
    data-type={project.data.type}
    data-astro-prefetch
    aria-label={project.data.name}
  
  ></a>
</div>


<style>
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .project-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  a.project {
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    aspect-ratio: 1.3333;
    border: 0rem;
    border-color: black;
    display: block;
    width: 100%;
  }
</style>
