---
import type { CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
---

  <a
    href={`/${project.id}`}
    class="project--mobile"
    style={`--image: url('${project.data.images[0].src}');`}
    data-name={project.data.name}
    data-year={project.data.year}
    data-month={project.data.month}
    data-location={project.data.location}
    data-type={project.data.type}
    data-astro-prefetch
    aria-label={project.data.name}
  >
    {project.data.name}
  </a>
<a
  href={`/${project.id}`}
  class="project"
  style={`--image: url('${project.data.images[0].src}');`}
  data-name={project.data.name}
  data-year={project.data.year}
  data-month={project.data.month}
  data-location={project.data.location}
  data-type={project.data.type}
  data-astro-prefetch
  aria-label={project.data.name}
></a>

<style>
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .project-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  a.project {
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    aspect-ratio: 1.3333;
    border: 1px solid black;
    display: block;
    width: 100%;
    box-shadow: 0 4px 16px rgba(61, 61, 61, 0.2);
  }
  /* Show only the first <a> on mobile, hide on desktop */
  .project--mobile {
    display: block;
  }
  .project--desktop {
    display: none;
  }
  @media screen and (min-width: 50em) {
    .project--mobile {
      display: none;
    }
    .project--desktop {
      display: block;
    }
  }
</style>
